nav {
    height: 50px; background-color: #A69076; width: 100%; 
}

nav ul {
   margin: 0; padding: 0; list-style: none; text-align: center;
}

nav ul li {
    display: inline; text-align: center; font-size: 105%; 
}

nav ul li img {
    width: 25px; top: 7px; position: relative; 
}

nav ul li a {
    text-decoration: none; color: black; background-color: #A69076; padding: 11px 15px 0 15px; display: inline-block; width: 110px;
    transition: all 300ms ease;
}

nav ul li a:hover {
    color: #F2ECD8;
}

img#logo {
    width: 160px; 
    position: absolute; 
    top: -20px;
}

body {
    margin: 0; padding: 0;
}

footer {
    width: 100%; text-align: center; background-color: #A69076; padding: 10px 0 10px 0; color: black; margin-top: 10px; clear:both; position: static; bottom: 0;
}

p{
    font-family: bree, Arial;
    font-style: normal;
    font-weight: 200;
}

h1{
    font-family: bree, Arial;
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-family: bree, sans-serif;
    font-style: normal;
    font-weight: 600;
}

nav{
    font-family: bree, sans-serif;
    font-style: normal;
    font-weight: 300;
}