main {
    margin: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.album {
    margin: 5px;
    float: left;
    width: 180px;
    position: relative;
    transition: all 750ms linear;
}

div.album:hover {
    transform: scale(1.5, 1.5);
}

div.album img {
    width: 100%;
    height: auto;
}

div.legenda {
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 1s linear;
    text-shadow: 1px 1px yellow;
    bottom: 0;
}

div.album:hover div.legenda {
    opacity: 1;
}