main {
    margin: 15px 45px 45px 45px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.album {
    margin: 5px;
    float: left;
    width: 280px;
    position: relative;
    transition: all 750ms linear;
}

div.album:hover {
    transform: scale(1.5, 1.5);
    z-index: 1;
}

div.album img {
    width: 100%;
    height: auto;
}

div.legenda {
    opacity: 0;
    position: absolute;
    transition: all 1s linear;
    color: white;
    text-shadow: 1px 1px #F2A35E;
    width: inherit;
    text-align: center;
    bottom: 15px;
}

div.album:hover div.legenda {
    opacity: 1;
}

footer {
    position: static;
}