main{
    position: relative;
}

canvas{
    width: 80%;
}

#voa{
    position: absolute; right: 15px; width: 20%; top: 50%;
    opacity: 0.05;
    transition: all 1s ease;
}

#voa:hover{
    opacity: 0.7;
}

footer{
    position: static;
}

@media(max-width:1150px){
    footer{
        position: absolute;
        bottom: 0;
    }
}
