nav ul li a {
    padding: 11px 0 0 0; width: 100px;
}

img#logo {
    width: 90px;
}

nav ul li img {
    top: -10px;
}

nav ul li {
    font-size: 100%; 
}

div.album {
    transition: all 300ms linear;
}

div.album:hover {
    transform: scale(1.3, 1.3);
}

div.legenda {
    transition: all 0.5s linear;
}

iframe{
    height: 350px;
}